@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Pacifico&display=swap');

/* Cor principal como uma "variável"*/
:root {
  --cor-principal: #d14a8f; 
  --cor-texto: #333;      /* Cinza escuro para textos */
}

/* Estilo do Corpo */
body {
  font-family: 'Montserrat', sans-serif; /* Fonte texto */
  color: var(--cor-texto);
}

.navbar {
  background-color: #d14a90ea !important;
}

/* Botão Principal */
.btn-primary {
  background-color: var(--cor-principal);
  border-color: var(--cor-principal);
  font-weight: 700; /* Deixa o texto do botão mais forte */
}

/* Efeito "hover" (ao passar o mouse) */
.btn-primary:hover {
  background-color: #b8427e; /* Tom de rosa um pouco mais escuro */
  border-color: #b8427e;
}

/* Títulos */
/* Título principal */
h1.display-4 {
  font-family: 'Pacifico', cursive; /* Fonte cursiva */
  color: var(--cor-texto);
}

/* Seção "Conheça nossos produtos" */
h2.text-center {
  color: var(--cor-principal);
  font-weight: 700; /* Título negrito */
  margin-top: 1.5rem; /* Espaço extra em cima */
}

/* Títulos dos cards (Brigadeiros, Trufas, etc.) */
.card-title {
  color: var(--cor-principal);
  font-weight: 700;
}

/* Rodapé */
/* Acessa o rodapé que já tem a classe .border-top */
footer.border-top {
  /* Muda a cor da borda padrão do Bootstrap */
  border-top-color: var(--cor-principal) !important;
  border-width: 2px !important; /* Deixa a borda mais grossa */
}

/*  Estilo Accordion no Cardápio */
/* Preço na lista */
.price-tag {
  font-weight: 700;
  color: var(--cor-principal);
  font-size: 1.1rem;
}

/* Remove a sombra do botão do accordion quando clicado */
.accordion-button:focus {
  box-shadow: none;
  border-color: rgba(0, 0, 0, 0.125);
}

/* Muda a cor do botão quando está FECHADO */
.accordion-button:not(.collapsed) {
  color: #fff; /* Cor do texto (branco) */
  background-color: var(--cor-principal); /* Cor de fundo (rosa) */
  font-weight: 700;
}

/* Muda a cor do texto do botão quando está ABERTO */
.accordion-button.collapsed {
  font-weight: 700;
  color: var(--cor-principal);
}

/* Tira a seta padrão (ícone) e bota um ícone de "+" e "-" */
.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8Z'/%3e%3c/svg%3e"); /* Ícone de "-" (branco) */
}

.accordion-button.collapsed::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23d14a8f'%3e%3cpath fill-rule='evenodd' d='M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z'/%3e%3c/svg%3e"); /* Ícone de "+" (rosa) */
}